/* 
Theme Name: Neurons Inc
Author: Simone & Amber
*/

/* Generel rules
-------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  margin-top: 0 !important;
}

img {
  width: 100%;
}

/* Classes to use when needed
-------------------------------*/

.hidden {
  display: none !important;
}
.nav-container.hideNav {
  top: -135px;
  transition: top 0.2s ease-out;
}
.show {
  display: block !important;
  /* transition: all 0.25s ease-in; */
}
.moving {
  transition: all 0.25s ease-out;
}
.moving.hidden {
  transition: all 0.25s ease-in;
}

.show-mobile {
  display: block !important;
  transition: all 0.25s ease-in;
}
.scroll-lock {
  overflow: hidden;
}
.white-bg-nav {
  background-color: white;
}
.lightPurple {
  background-color: var(--neuronsLightPurple);
}

/* Colors
-------------------------------*/
:root {
  --neuronsPurple: linear-gradient(89.62deg, #48425c 0.32%, #6f6884 99.67%);
  --neuronsPurpleHover: linear-gradient(
    -89.62deg,
    #48425c 0.32%,
    #6f6884 99.67%
  );
  --neruonsOrange: #efa059;
  --neuronsGray: #666666;
  --neuronsWhite: #ffffff;
  --neuronsLightPurple: #eeedf2;
  --neuronsDarkPurple: #8166d1;
}

/* Fonts and sizez
-------------------------------*/
h1,
h2,
p,
.link {
  color: var(--neuronsGray);
}
h1,
.button,
a,
h3 {
  font-family: "Montserrat", sans-serif;
}

h2,
p,
.link {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 0;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--neuronsDarkPurple);
}

p,
.link {
  font-size: 16px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  line-height: 26px;
}

p {
  line-height: 26px;
  font-weight: 500;
}

.cat-filter-item {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--neuronsGray);
}

/* Site padding start
-------------------------------*/
.site-padding-both {
  padding: 30px 0px;
}
.site-padding-top {
  padding-top: 30px;
}
.site-padding-bottom {
  padding-bottom: 30px;
}

.site-margin-bottom {
  margin-bottom: 30px;
}

/* Buttons start
-------------------------------*/
.button {
  border-radius: 10px;
  width: 168px;
  height: 40px;
  color: var(--neuronsWhite);
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.primary-btn {
  background: var(--neuronsPurple);
}

.primary-btn:hover {
  background: var(--neuronsPurpleHover);
}

.secondary-btn {
  background: var(--neruonsOrange);
}

/* Margin container start
-------------------------------*/
.container {
  width: 90%;
  margin: 0 auto;
}

/* Mobile navigation start
-------------------------------*/
#burgerContainer {
  height: 12vh;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-content: center;
}

#burgerContainer button {
  background: none;
  border: none;
  outline: none;
  justify-self: right;
  cursor: pointer;
}

.burger-line {
  width: 30px;
  border-bottom: 2px solid var(--neuronsGray);
  display: block;
  transition: all 0.3s;
  margin-top: 8px;
}
.burger-line:first-child {
  margin-top: 0;
}
.top-line {
  transform: rotate(0);
}

.middle-line {
  position: relative;
  transform: rotate(0);
  opacity: 1;
  margin-left: 0px;
  transition: all ease-out 0.2s;
}

.bottom-line {
  transform: rotate(0);
}

.animate .top-line {
  transform: translateY(10px) rotate(45deg);
  background-color: var(--neuronsGray);
}

.animate .middle-line {
  opacity: 0;
  background-color: var(--neuronsGray);
  margin-left: 0px;
}

.animate .bottom-line {
  transform: translateY(-10px) rotate(-45deg);
  background-color: var(--neuronsGray);
}

#navContentMobile {
  height: 100vh;
  padding-top: 25px;
}

.mobileItem,
.mobileItem a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--neuronsGray);
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px 0px;
  text-decoration: none;
  cursor: pointer;
}

.mobileItem:active {
  outline: transparent;
}

.show-mobile a {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: var(--neuronsGray);
  text-decoration: none;
  padding: 5px 0;
}

.mobileItem svg {
  pointer-events: none;
}

.mobileItem.dropdown::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 10px;
}

.mobileItem.turn::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 10px;
  transform: rotate(180deg);
}

.mobileItem.mobileItem.dropdown {
  display: flex;
}

.mobile-nav-btn {
  margin-top: 15px;
}

/* Desktop navigation start
-------------------------------*/
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.5s ease-out;
  z-index: 5;
  box-shadow: 0px 8px 18px rgba(24, 39, 75, 0.12),
    0px 12px 42px rgba(24, 39, 75, 0.12);
  background-color: var(--neuronsWhite);
}

.logo img,
.mobilelogo img {
  width: 200px;
}

.nav-content {
  height: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navdesktop {
  color: var(--neuronsGray);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.parent-sub-item {
  text-decoration: none;
}

#primaryNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navdesktop::after {
  content: "";
  display: block;
  background-color: var(--neuronsGray);
  height: 2px;
  width: 100%;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}

.navdesktop:hover::after {
  transform: scaleX(1.1);
  transition: transform 0.3s ease-out;
}

.parent-sub-item {
  color: var(--neuronsGray);
  padding-left: 16px;
}

.navdesktop:hover {
  color: var(--neuronsGray);
  text-decoration: none;
}

#navContentDesktop.thinNav {
  transition: all 0.2s ease-out;
}

.logo.thinNav {
  transition: all 0.2s ease-out;
}

.desktop-subitem {
  padding-bottom: 15px;
}

.desktop-subitem:hover {
  text-decoration: underline;
}
#submenu .container {
  margin: 0;
}

.nav-btn {
  width: 161px;
  height: 40px;
  margin-left: 20px;
}

#submenu {
  position: relative;
  top: 0;
  right: 0;
  min-width: 100vw;
  padding-bottom: 30px;
  background-color: var(--neuronsWhite);
  min-height: 170px;
  height: 15vh;
  z-index: 4;
  overflow-y: hidden;
}

#submenu.hidden {
  display: block !important;
  height: 0px;
  min-height: 0px;
  padding: 0;
}

#navContentDesktop {
  display: none;
}

/* Hero frontpage start
-------------------------------*/
.hero-background-image {
  background-image: url("img/background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-position-y: -356px;
  background-size: cover;
}

.hero-background-image,
.hero-container {
  height: 88vh;
  margin-top: 12vh;
}

.hero-container img {
  width: 100%;
}

.hero-video {
  text-align: right;
  display: none;
}

.hero-text-content {
  padding-bottom: 18px;
}

.hero-text-content h1::after {
  content: "";
  display: block;
  background-color: var(--neuronsDarkPurple);
  height: 3px;
  width: 0;
  margin-left: 3px;
  border-radius: 30px;
  animation-name: halfBorder;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes halfBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 39%;
  }
}

/* Hero subpage start
-------------------------------*/
.sub-hero {
  margin-top: 12vh !important;
}

.single-solutions .hero-background-image,
.single-solutions .hero-container {
  height: 100%;
}

/* Logo slider
-------------------------------*/
#logoBanner {
  padding: 30px 0px;
  box-shadow: 0px 8px 18px rgba(24, 39, 75, 0.12),
    0px 12px 42px rgba(24, 39, 75, 0.12);
}
.client-logo img {
  height: 50px;
  object-fit: contain;
  width: 85%;
}

.carouselWrapper {
  position: relative;
}
.carouselContainer {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
}
.carouselContainer::-webkit-scrollbar {
  display: none;
}
.carouselContainer .carouselItem {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 33%;
  scroll-snap-align: start;
  justify-content: center;
}

/* Solutions start
-------------------------------*/
#solutions {
  text-align: center;
}

.solution-tabs-container {
  display: flex;
  border-bottom: 1px solid #d8d7de;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.solution-tab {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.solution-tab.active:after {
  content: "";
  display: block;
  margin-top: 10px;
  border-bottom: 2px solid var(--neuronsDarkPurple);
}

.category-tab-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
}

.solution-content {
  text-align: left;
}

.area-tabs-container {
  display: grid;
  grid-template-columns: 38px 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.category-icon {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: var(--neuronsLightPurple);
  display: grid;
  place-items: center;
}

.category-icon img {
  width: 25px;
}

.category-tab {
  text-align: left;
  border: none;
  background-color: transparent;
  border-radius: 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.category-tab.active {
  text-decoration: 2px solid underline var(--neuronsDarkPurple);
  text-underline-offset: 6px;
}

.cta-buttons-container {
  display: flex;
  justify-content: space-between;
}

/* Banner start
-------------------------------*/
#banner,
.insights-container {
  text-align: center;
}

.post-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.post {
  text-align: left;
}
.post h1 {
  font-size: 28px;
}

.banner-cta-buttons button {
  font-size: 14px;
}

.home .banner-cta-buttons {
  display: block;
}

.home .banner-cta-buttons button {
  font-size: 16px;
}
/* Single solution - how to start
  -------------------------------*/
.how-to-content {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 20px;
}

.how-to-content h1 {
  grid-column-start: 2;
  margin-block-end: 0;
}
.how-to-content .how-to-icon {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.how-to-content p {
  grid-column-start: 2;
}
.how-to-content:last-child p {
  margin-bottom: 0;
}
/* Single solution - Try start
  -------------------------------*/
.try-embeded {
  width: 100%;
  height: 350px;
  background-color: var(--neuronsLightPurple);
}

/* Positions start
-------------------------------*/
.position-child {
  margin-bottom: 30px;
}
.position-child .post {
  padding: 22px;
}

.position-buttons button {
  width: 137px;
}

.category-tabs {
  height: 54px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-bottom: 1px solid var(--neuronsGray);
}
.cat-filter-item {
  flex: none;
  padding: 16px 25px;
}
.cat-filter-item:first-child {
  padding-left: 0;
}
.cat-filter-item:last-child {
  padding-right: 0;
}
.post-container:last-child {
  margin-bottom: 0;
}

/* Footer start
-------------------------------*/
footer {
  font-weight: 500;
}
#footer {
  padding: 40px 0;
}

#footer img {
  width: 20px;
}

.footer-item-container {
  display: grid;
  grid-template-columns: 1fr 12fr;
  padding-top: 5px;
}

.footer-item-container p {
  margin: 0;
}

.footer-padding {
  padding: 15px 0;
}

.footer-office {
  padding-top: 0;
}

.footer-subscribe input {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.footer-subscribe input::placeholder {
  padding-left: 15px;
}
.footer-subscribe h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.footer-grid {
  border-top: 1px solid #d8d7de;
  border-bottom: 1px solid #d8d7de;
  padding: 50px 0;
}

.copyright {
  width: 63%;
  margin: 0 auto;
  text-align: center;
}

.copyright p {
  color: #d8d7de;
}

/* Media queries
-------------------------------*/

@media screen and (min-width: 627px) {
  /* mobile nav start
-------------------------------*/
  #burgerContainer {
    height: 12vh;
  }
  /* Buttons start
-------------------------------*/
  .cta-buttons-container,
  .banner-cta-buttons {
    display: inline-flex;
  }
  .cta-buttons-container .secondary-btn {
    margin-right: 20px;
  }

  .hero-background-image,
  .hero-container {
    height: 100%;
    margin-top: 19vh;
  }

  .hero-image {
    width: 90%;
    margin: 0 auto;
  }

  /* Positions start
-------------------------------*/
  .position-buttons button {
    width: 168px;
  }

  .position-buttons .primary-btn {
    margin-right: 10px;
  }
  .position-buttons .secondary-btn {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media screen and (min-width: 627px) and (orientation: landscape) {
  #burgerContainer {
    height: 19vh;
  }
}

@media screen and (min-width: 768px) {
  /* Site padding start
  -------------------------------*/
  .site-padding-both {
    padding: 50px 0px;
  }
  .site-padding-top {
    padding-top: 50px;
  }
  .site-padding-bottom {
    padding-bottom: 50px;
  }

  /* Buttons start
  -------------------------------*/
  .button {
    width: 204px;
  }
  .position-buttons button {
    width: 144px;
  }

  /* Mobile navigation start
  -------------------------------*/
  #burgerContainer {
    height: 10vh;
  }
  .hero-background-image,
  .hero-container {
    margin-top: 10vh;
  }

  .hero-background-image {
    /* background-position-y: 15px;
    background-position-x: -355px; */
    background-position-y: 142px;
    background-position-x: -322px;
    background-size: 70%;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-mobile-video {
    align-self: center;
  }

  .hero-text-content {
    padding-bottom: 0;
  }

  .hero-text-content.ipad {
    padding: 50px 0;
  }

  .hero-image {
    align-self: center;
    justify-self: end;
    margin: 0;
  }
  /* Hero subpage start
-------------------------------*/
  .sub-hero {
    height: 22vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  /* Solutions start
  -------------------------------*/
  .solutions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .category-image-parent {
    grid-row: 1;
    display: grid;
    place-self: center;
    width: 100%;
  }
  .solution-text-content {
    grid-column: 2;
  }

  .posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .home .post-container,
  .page-template-insights .post-container {
    position: relative;
  }

  .home .post,
  .page-template-insights .post {
    height: 315px;
  }

  .home .post-link,
  .page-template-insights .post-link {
    position: absolute;
    bottom: 0;
  }

  /* single solution - how to 
  -------------------------------*/
  .how-to-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  .how-to-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .how-to-content h1 {
    margin-block-end: 0.67em;
  }

  .how-to-content .how-to-icon {
    width: 100px;
    height: 85px;
  }

  .how-to-content p {
    text-align: center;
  }

  /* Footer start
  -------------------------------*/
  .footer-office {
    padding-top: 15px;
  }
  .footer-item-container {
    column-gap: 10px;
  }

  /* Logo slider start
  -------------------------------*/
  .carouselContainer .carouselItem {
    width: 33.3333%;
    padding: 10px;
  }

  .carouselContainer .carouselItem {
    width: 25%;
  }

  /* Banner start
  -------------------------------*/
  .banner-image {
    display: none;
  }
  .banner-cta-buttons button {
    font-size: 16px;
  }
  /* Position start
  -------------------------------*/
  .position-child .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .position-child .post-image-container .post-image {
    height: 36vw;
  }

  .position-child .post-content-container {
    align-self: center;
  }

  .position-child:nth-child(even) .post {
    direction: rtl;
  }
  .position-buttons {
    direction: ltr;
  }
}

@media screen and (min-width: 1024px) {
  /* Site padding start
-------------------------------*/
  .site-padding-both {
    padding: 80px 0px;
  }
  .site-padding-top {
    padding-top: 80px;
  }
  .site-padding-bottom {
    padding-bottom: 80px;
  }
  /* Margin container 
-------------------------------*/
  .container {
    width: 85%;
    margin: 0 auto;
  }

  /* desktop navigation 
-------------------------------*/
  .logo {
    align-self: center;
  }
  #navContentDesktop {
    display: block;
  }
  #burgerContainer,
  #navContentMobile {
    display: none !important;
  }

  /* font sizez
-------------------------------*/
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }

  /* solutions
-------------------------------*/
  .category-tab-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    margin-bottom: 32px;
  }

  /* Footer start
-------------------------------*/
  .footer-text-content {
    display: grid;
    grid-template-columns: 10fr 5fr 7fr;
  }

  .footer-subscribe {
    width: 50%;
  }

  /* Hero frontpage start
-------------------------------*/
  .hero-container {
    display: grid;
    grid-template-columns: 6fr 5fr;
    column-gap: 40px;
    align-content: center;
  }
  .hero-text-content {
    align-self: center;
  }
  .sub-hero {
    height: 44vh;
  }

  .hero-mobile-video {
    display: none;
  }

  .hero-video {
    display: block;
    align-self: center;
  }
  .hero-background-image,
  .hero-container,
  .single-solutions .hero-container {
    height: 88vh;
    margin-top: 12vh;
  }
  .hero-text-content.ipad {
    padding: 0 0;
  }

  .hero-image {
    width: 95%;
  }

  /* Hero frontpage start
-------------------------------*/
  .solutions-grid {
    grid-template-columns: 45% 1fr;
  }
  .solution-tabs-container {
    width: 90%;
    margin: 0 auto 25px auto;
  }
  .solution-tab {
    font-size: 26px;
  }

  /* Banner start
-------------------------------*/
  .banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .banner-image,
  .banner-text-content {
    align-self: center;
  }
  .banner-image {
    display: block;
  }

  .posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  .post-container.site-margin-bottom {
    margin-bottom: 0;
  }
  .home .post,
  .page-template-insights .post {
    height: 415px;
  }
  .home .post-link,
  .page-template-insights .post-link {
    padding-bottom: 15px;
  }

  /* Positions
-------------------------------*/
  .position-child .post-image-container .post-image {
    height: 30vw;
  }
  .position-buttons button {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    grid-template-columns: 5fr 5fr;
  }
  .carouselContainer .carouselItem {
    width: 20%;
  }
  /* Banner start
-------------------------------*/
  .banner-container {
    column-gap: 50px;
  }
  .home .post,
  .page-template-insights .post {
    height: 370px;
  }
  /* Footer start
-------------------------------*/
  .footer-grid {
    display: grid;
    grid-template-columns: 6fr 3fr;
  }

  .footer-text-content {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
  }

  .footer-subscribe {
    width: 100%;
  }
  .client-logo img {
    width: 75%;
  }
  /* Banner start
  -----------------------------*/
  .banner-container {
    column-gap: 80px;
  }
  .sub-hero {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  /* Site padding start
-------------------------------*/
  .site-padding-both {
    padding: 90px 0px;
  }
  .site-padding-top {
    padding-top: 90px;
  }
  .site-padding-bottom {
    padding-bottom: 90px;
  }
  .container {
    width: 80%;
  }
  .hero-container {
    grid-template-columns: 5fr 6fr;
  }

  /* Solutions start
  -------------------------------*/
  .solutions-grid {
    grid-template-columns: 50% 1fr;
    column-gap: 50px;
  }
  .solution-tabs-container {
    width: 80%;
    margin: 0 auto 25px auto;
  }

  .home .post,
  .page-template-insights .post {
    height: 340px;
  }
}

@media screen and (min-width: 1920px) {
}

@media (hover: hover) {
  .post-container {
    padding: 15px;
  }
  .post-container:hover,
  .position-child:hover {
    box-shadow: 0px 8px 18px rgb(24 39 75 / 12%),
      0px 12px 42px rgb(24 39 75 / 12%);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
}
